<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stories by Viva - Coming Soon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Stories by Viva" class="logo">
        <h2 class="headline">Every Story Deserves to be told.</h2>
        <h1 class="coming-soon">COMING SOON</h1>
    </div>
</body>
</html>
